{% extends "WWSCThalamusBundle:Content:layout.html.twig" %}
{% block title %}
    {{ nameProject }} - {% trans %}Post a new Writeboard{% endtrans %}
{% endblock %} 
{% block content %}   
<div class="row">
    <div class="panel panel-default col-md-9">
        <div class="panel-heading">
            {% trans %}Post a new writeboard{% endtrans %}
        </div>
        <div class="panel-body">
            <div class="row">
                {% include 'WWSCThalamusBundle:Content:flash_notice.html.twig' %}
                {% if form_errors(form) %}
                    <div class="alert alert-error error" role="alert">{{ form_errors(form) }}</div>
                {% endif %}
                <div class="panel-forms">
                    <form class="form-add-writeboard col-md-12" action="{{ path('wwsc_thalamus_project_writeboard_add', {'project': slugProject} ) }}"  method="Post">
                        <div class="col-md-12 form-group">
                            <div class="title">{% trans %}Title:{% endtrans %}</div>
                            <div class="col-md-12 form-group">
                                {{ form_widget(form.name ) }}
                            </div>    
                        </div>            
                        <div class="col-md-12 form-group">
                            {{ form_widget(form.description ) }}  
                        </div>  
                        {{ form_widget(form._token) }}
                         <div class="col-md-12  without-padding">    
                            {% include 'WWSCThalamusBundle:File:attachment-form.html.twig'%}  
                        </div>
                        {% include 'WWSCThalamusBundle:SubscribeEmail:block-subscribed-people.html.twig'  with {'aSubsCompanies': aSubsCompanies, 'activeSubscribed':null, 'type': 'Writeboard', 'oParent':null  } %} 
                        <div class="col-md-12 btn-action without-padding">
                            <button class="btn btn-sm btn-primary btn-save" type="submit">{% trans %}Post this Writeboard{% endtrans %}</button>
                            <span>or</span> <a class="btn-cancel" href="{{ path ('wwsc_thalamus_project_writeboards', {'project': slugProject }) }}"> {% trans %}Cancel{% endtrans %} </a> 
                        </div>
                    </form>
                </div>
            </div>
        </div>  
    </div>         
</div>
{% include 'WWSCThalamusBundle:File:jQUploadTemplateAttachment.html.twig'%}            
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('bundles/wwscthalamus/markdown/css/bootstrap-markdown.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/wwscthalamus/jQUpload/css/jquery.fileupload.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/wwscthalamus/jQUpload/css/jquery.fileupload-ui.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/wwscthalamus/markdown/js/to-markdown.js') }}"></script>
    <script src="{{ asset('bundles/wwscthalamus/markdown/js/markdown.js') }}"></script>
    <script src="{{ asset('bundles/wwscthalamus/markdown/js/bootstrap-markdown.js') }}"></script>
    <script src="{{ asset('bundles/wwscthalamus/js/attachment.js') }}"></script>
    <script src="{{ asset('bundles/wwscthalamus/js/writeboard.js') }}"></script>
    {% include 'WWSCThalamusBundle:File:jQUploadAttachmentScript.html.twig'%}
    <script src="https://apis.google.com/js/client.js?onload=handleGoogleClientLoad"></script>
    <script src="{{ asset('bundles/wwscthalamus/js/jquery.autogrow-textarea.js') }}"></script>
{% endblock %}
